<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="IGNORE_SSL" value="true"/>
    <add key="Debug_SOApprover" value="PP02"/>
    
    <add key="SERVICE_PO_DOC_TYPE" value="ZMSF:CMH Service PO Fty,ZMSH:CMH Service PO HK,ZSSF:CSL Service PO Fty,ZSSH:CSL Service PO HK,ZASF:CAL Service PO Fty,ZASH:CAL Service PO HK,ZESF:EIL Service PO Fty,ZESH:EIL Service PO HK"/>
    <add key="RAW_MATERIAL_PO_DOC_TYPE" value="ZAR:CAL Raw Mat PO,ZER:EIL Raw Mat PO,ZMR:CMH Raw Mat PO,ZSR:CSL Raw Mat PO"/>
    <add key="SUB_MATERIAL_PO_DOC_TYPE" value="ZAS:CAL Sub Mat PO,ZES:EIL Sub Mat PO,ZMS:CMH Sub Mat PO,ZSS:CSL Sub Mat PO"/>

    <add key="SOH.AuthWS.EndpointUrl" value="https://tstdev13.tsthkdomain.com/SOH_LaunchPad_Authen/" />

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="SOHDB" connectionString="server=tstdev13.tsthkdomain.com;database=SOH_Portal;uid=bABoAGYAaQBfAGUAcQBjAEoARgA/ADwASgA0ADMAQgAwADgA;pwd=bwB1AHEAYwBvAG8AbgA4ADAAMAA8AFYASABNAEEARwAxADEA;"/>
  </connectionStrings>
  
    <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
  
</configuration>