
  .k-header {
    background-color: #378752;
  }

  .k-grid td.k-state-selected, .k-grid tr.k-state-selected>td {
    color: #656565;
    background-color: #B9DABF;
  }
  
  .k-grid a, .k-link, .k-link:hover {
    color: #f9f9f9;
  }

  col.k-sorted, th.k-sorted {
    background-color: rgb(129, 179, 95);
  }
