<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tstdev13.tsthkdomain.com/SOH_LaunchPad_CENReport/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tstdev13.tsthkdomain.com</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SOH_LaunchPad_CENReport</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>tsthkdomain\chlhuang</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ReportDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=192.168.13.119;database=CEN_SOH;uid=fABvAGIAdQB8AGUAeABeAEcAQwBEADkARwAxADsATgAwADcA;pwd=fABvAGIAdQB8AGUAeAA0ADgAPABGAF4AQQBGAEkATwAxADAA;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReportDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.13.119;database=CEN_SOH;uid=fABvAGIAdQB8AGUAeABeAEcAQwBEADkARwAxADsATgAwADcA;pwd=fABvAGIAdQB8AGUAeAA0ADgAPABGAF4AQQBGAEkATwAxADAA;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SOHDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=tstdev13.tsthkdomain.com;database=SOH_Portal;uid=bABoAGYAaQBfAGUAcQBjAEoARgA/ADwASgA0ADMAQgAwADgA;pwd=bwB1AHEAYwBvAG8AbgA4ADAAMAA8AFYASABNAEEARwAxADEA;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SOHDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=tstdev13.tsthkdomain.com;database=SOH_Portal;uid=bABoAGYAaQBfAGUAcQBjAEoARgA/ADwASgA0ADMAQgAwADgA;pwd=bwB1AHEAYwBvAG8AbgA4ADAAMAA8AFYASABNAEEARwAxADEA;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EMLDB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=tstdev13.tsthkdomain.com;database=EMLDB;uid=bABoAGYAaQBfAGUAcQBjAEoARgA/ADwASgA0ADMAQgAwADgA;pwd=bwB1AHEAYwBvAG8AbgA4ADAAMAA8AFYASABNAEEARwAxADEA;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EMLDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=tstdev13.tsthkdomain.com;database=EMLDB;uid=bABoAGYAaQBfAGUAcQBjAEoARgA/ADwASgA0ADMAQgAwADgA;pwd=bwB1AHEAYwBvAG8AbgA4ADAAMAA8AFYASABNAEEARwAxADEA;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EMLDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReportDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SOHDB-Web.config Connection String" />
  </ItemGroup>
</Project>